---
layout: default
title: Home
---

<div class="page definitions">

    {% for section in site.data.definitions %}
        <h2><a name="section-{{ section.letter }}">{{ section.letter }}</a></h2>
        <dl>
        {% for definition in section.definitions %}
            {% if definition.title %}
            <dt data-slug="{{ definition.slug }}">
                <a class="permalink" href="/#{{ definition.slug }}">#</a>
                <a class="title" name="{{ definition.slug }}">{{ definition.title }}</a>
            </dt>
            {% endif %}
            {% if definition.text %}
            <dd data-slug="{{ definition.slug }}">{{ definition.text }}</dd>
            {% endif %}
        {% endfor %}
        </dl>
    {% endfor %}

</div>
