<div class="sidebar">
    <div class="container sidebar-sticky">

        <div class="sidebar-about">
            <h1>{{ site.title }}</h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <ol class="section-links">
            {% for section in site.data.definitions %}
            <li><a href="#section-{{ section.letter }}">{{ section.letter }}</a></li>
            {% endfor %}
        </ol>

        <ul class="sidebar-nav">
            <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">View the code on GitHub</a></li>
        </ul>

        <p>By Roger Hutchings</p>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>

    </div>
</div>
