html
    font-family: $font-body
    line-height: 1.4
    color: $dark-grey
    text-rendering: optimizeLegibility

    @media (min-width: $breakpoint-1)
        font-size: $font-size-1

    @media (min-width: $breakpoint-2)
        font-size: $font-size-2


body
    @include experimental(text-size-adjust, 100%)
    color: $grey


a
    @extend %link
    color: $blue
    text-decoration: none


h1, h2,
    margin-bottom: .5rem


h2
    @extend %font-heading
    margin-top: 1rem
    font:
        size: ms(10)
    border:
        bottom: 1px solid lighten($grey, 20%)

    a
        @extend %link-none
        color: $grey


dl
    margin:
        top: 0
        bottom: ms(1)

    dt
        position: relative
        font:
            weight: bold
        margin:
            top: ms(2)

        .title
            @extend %link-none

        .permalink
            @extend %link-none
            margin:
                right: ms(1)
            padding: 0.2rem 0.5rem
            background: whitesmoke
            border-radius: $border-radius
            display: inline-block
            &:hover
                color: $light-grey
                background: $blue


    dd
        margin: 0
        padding: 0
            left: ms(12)


p
    margin: 0
        bottom: 1rem


strong
    color: $dark-grey
