/* line 1, ../_sass/mixins/_link.sass */
a {
  text-decoration: underline;
}
/* line 3, ../_sass/mixins/_link.sass */
a:hover, a:focus {
  text-decoration: none;
}

/* line 7, ../_sass/mixins/_link.sass */
.sidebar .sidebar-nav a.sidebar-nav-item {
  text-decoration: none;
}
/* line 9, ../_sass/mixins/_link.sass */
.sidebar .sidebar-nav a.sidebar-nav-item:hover, .sidebar .sidebar-nav a.sidebar-nav-item:focus {
  text-decoration: underline;
}

/* line 13, ../_sass/mixins/_link.sass */
h2 a, dl dt .title, dl dt .permalink, .sidebar .sidebar-alphabet li a {
  text-decoration: none;
}
/* line 15, ../_sass/mixins/_link.sass */
h2 a:hover, dl dt .title:hover, dl dt .permalink:hover, .sidebar .sidebar-alphabet li a:hover, h2 a:focus, dl dt .title:focus, dl dt .permalink:focus, .sidebar .sidebar-alphabet li a:focus {
  text-decoration: none;
}

/* Body resets
 *
 * Update the foundational and global aspects of the page.
 */
/* line 7, ../_sass/globals/_reset.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../_sass/globals/_reset.sass */
html,
body {
  margin: 0;
  padding: 0;
}

/* line 15, ../_sass/globals/_reset.sass */
body {
  background: white;
}

/* line 4, ../_sass/globals/_fonts.sass */
h2, .sidebar .sidebar-about h1 {
  -webkit-font-smoothing: antialiased;
  font-family: "Abril Fatface", serif;
}

/* line 2, ../_sass/globals/_layout.sass */
.container {
  max-width: 38rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 17, ../_sass/globals/_layout.sass */
.content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 48rem) {
  /* line 17, ../_sass/globals/_layout.sass */
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}
@media (min-width: 64rem) {
  /* line 17, ../_sass/globals/_layout.sass */
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

/* line 1, ../_sass/globals/_typography.sass */
html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #202020;
  text-rendering: optimizeLegibility;
}
@media (min-width: 48rem) {
  /* line 1, ../_sass/globals/_typography.sass */
  html {
    font-size: 16px;
  }
}
@media (min-width: 58rem) {
  /* line 1, ../_sass/globals/_typography.sass */
  html {
    font-size: 20px;
  }
}

/* line 14, ../_sass/globals/_typography.sass */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #505050;
}

/* line 19, ../_sass/globals/_typography.sass */
a {
  color: #268bd2;
  text-decoration: none;
}

/* line 25, ../_sass/globals/_typography.sass */
h1, h2 {
  margin-bottom: 0.5rem;
  text-rendering: optimizeLegibility;
}

/* line 30, ../_sass/globals/_typography.sass */
h2 {
  margin-top: 1rem;
  font-size: 3.24732rem;
  border-bottom: 1px solid #838383;
}
/* line 38, ../_sass/globals/_typography.sass */
h2 a {
  color: #505050;
}

/* line 43, ../_sass/globals/_typography.sass */
dl {
  margin-top: 0;
  margin-bottom: 1.125rem;
}
/* line 48, ../_sass/globals/_typography.sass */
dl dt {
  position: relative;
  font-weight: bold;
  margin-top: 1.26563rem;
}
/* line 58, ../_sass/globals/_typography.sass */
dl dt .permalink {
  margin-right: 1.125rem;
  padding: 0.2rem 0.5rem;
  background: whitesmoke;
  border-radius: 3px;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
/* line 68, ../_sass/globals/_typography.sass */
dl dt .permalink:hover {
  color: whitesmoke;
  background: #268bd2;
}
/* line 72, ../_sass/globals/_typography.sass */
dl dt.hover .permalink {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 76, ../_sass/globals/_typography.sass */
dl dd {
  margin: 0;
  margin-left: 4.10989rem;
}

/* line 81, ../_sass/globals/_typography.sass */
p {
  margin: 0;
  margin-bottom: 1rem;
}

/* line 86, ../_sass/globals/_typography.sass */
strong {
  color: #202020;
}

/* line 1, ../_sass/globals/_livesearch.sass */
.hide {
  display: none;
}

/* line 4, ../_sass/globals/_livesearch.sass */
.highlight {
  background: yellow;
}

/* Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */
/* line 8, ../_sass/includes/_sidebar.sass */
.sidebar {
  text-align: center;
  padding: 1.26563rem 1.125rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #202020;
}
@media (min-width: 48rem) {
  /* line 8, ../_sass/includes/_sidebar.sass */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}
@media (min-width: 48rem) {
  /* line 23, ../_sass/includes/_sidebar.sass */
  .sidebar .container {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
  }
}
/* line 30, ../_sass/includes/_sidebar.sass */
.sidebar a {
  color: white;
}
/* line 34, ../_sass/includes/_sidebar.sass */
.sidebar .sidebar-about h1 {
  color: white;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 3.24732rem;
}
/* line 42, ../_sass/includes/_sidebar.sass */
.sidebar .sidebar-about .lead {
  margin: 0;
  margin-bottom: 1rem;
}
/* line 47, ../_sass/includes/_sidebar.sass */
.sidebar .sidebar-nav {
  padding-left: 0;
  list-style: none;
}
/* line 51, ../_sass/includes/_sidebar.sass */
.sidebar .sidebar-nav .sidebar-nav-item {
  display: block;
}
/* line 54, ../_sass/includes/_sidebar.sass */
.sidebar .sidebar-nav .sidebar-nav-item.active {
  font-weight: bold;
}
/* line 61, ../_sass/includes/_sidebar.sass */
.sidebar #search {
  width: 100%;
  padding: 1rem;
  border-radius: 3px;
  margin: 0;
  margin-bottom: 1rem;
  border: 0;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
/* line 72, ../_sass/includes/_sidebar.sass */
.sidebar .sidebar-alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
/* line 78, ../_sass/includes/_sidebar.sass */
.sidebar .sidebar-alphabet li {
  list-style: none;
  flex: 1 0 3.24732rem;
}
/* line 82, ../_sass/includes/_sidebar.sass */
.sidebar .sidebar-alphabet li a {
  display: block;
  text-align: center;
  background: #505050;
  margin: 2px;
  border-radius: 3px;
}
/* line 89, ../_sass/includes/_sidebar.sass */
.sidebar .sidebar-alphabet li a:hover, .sidebar .sidebar-alphabet li a:focus {
  background: #838383;
}
